.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .container {
  margin-top: 1%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
} */

.card {
  margin: 0 2% !important;
  /* we use 'important' because it is a material-ui component */
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
